.App
{
	text-align: center;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;
}

html, body
{
	overflow: hidden;
	background-color: #222629;
	color: #d4d7db;
}

.App-header
{
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #86C232;
}

.TrainingHeader
{
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #86C232;
	min-height: 5vh;
}

.Content
{
	min-height: 100vh;
	scroll-snap-align: start;
}

.Documentation
{
	min-height: 95vh;
	scroll-snap-align: start;
}

.Column
{
	float: left;
	/*bez borderów 33.33%*/
	width: 33.33%;
	min-height: 90vh;
	/*border-style: solid;*/
	/*border-width: 1px;*/
	/*border-color: white;*/

}

.clearfix::after
{
	content: "";
	clear: both;
	display: table;
}

@media screen and (max-width: 600px)
{
	.column
	{
		width: 100%;
	}
}

footer
{
	height: 5vh;
	color: #61892F;
}

button
{
	width: 25%;
	height: 5vh;
	margin: 15px;
	background-color: #222629;
	border-color: #61892F;
	color: #86C232;
	border-radius: 60px;
	border-style: solid;
}

button:hover
{
	width: 25%;
	height: 5vh;
	margin: 15px;
	background-color: #474B4F;
	border-color: #61892F;
	color: #86C232;
	border-radius: 60px;
	border-style: solid;
}

input
{
	width: 50%;
	height: 5vh;
	margin: 15px;
	border-radius: 25px;
	background-color: #222629;
	border-color: #61892F;
	color: #86C232;
	border-style: solid;
	text-align: center;
}

input:hover
{
	width: 50%;
	height: 5vh;
	margin: 15px;
	border-radius: 25px;
	background-color: #474B4F;
	border-color: #61892F;
	color: #86C232;
	border-style: solid;
	text-align: center;
}

label
{
	display: inline-block;
	width: 140px;
}

#drawingCanvas
{
	background-color:  #474B4F;
	margin-top: 30px;
	border-color: #61892F;
	border-style: solid;
	border-radius: 60px;
	border-width: 5px 5px 5px 5px ;
}
hr{
	margin: 20px;
	border-style: solid;
	border-color: #61892F;
}
hr.splitLine{
	 border-width: 2px;
 }
hr.splitFooter{
	border-width: 1px;
}

#drawingDiv{
	height: 90vh;
}
